!===================|
!=== .Xresources ===|
!=== Ryan Larson ===|
!===================|

!! URxvt
URxvt*scrollBar:				false
!URxvt*scrollBar_right:	false
URxvt*transparent:			false
URxvt.internalBorder:		8

! Font config
URxvt.font:							xft:Source Code Pro:style=Regular:pixelsize=11
URxvt.letterSpace:			1
URxvt.iconFile:					/usr/share/icons/Paper/32x32/apps/terminal.png
! copy/paste
URxvt.url-launcher:			chromium



!! Colors
#include ".Xresources.d/template.Xresources"
